#logo {
  width: 250px;
  height: 100px;
  margin-left: 40%;
}
#riga {
  margin-bottom: 0;
  color: bisque;
}
#sottotitolo {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 38%;
  font-weight: 400;
  background-color: #f4eadd;
}

main {
  margin-left: 23%;
  margin-right: 23%;
}

#focaccia {
  width: 100%;
  border-radius: 15px;
}

#sottofocaccia {
  text-align: center;
  color: grey;
}

#spanlink {
  color: red;
}

main h2 {
  font-weight: 400;
}

.divisorioIngredienti {
  color: aquamarine;
  width: 90%;
}
.titolo {
  font-size: 1.3em;
  font-weight: 700;
}
.Lista-focaccia {
  font-weight: 200;
}

#listaordinata {
  font-weight: 700;
  font-size: 1.2em;
}
#paragrafofinale {
  padding-left: 5%;
  font-size: 200;
}
